body{
  background-color: #F9F9F9;
  color:#0F0E0E;
  font-size: 150%;
}


h1{
  text-align: center;
  font-family: 'Gentium Book Basic', serif;
  color:#0F0E0E;
  font-size: 300%;
  text-decoration:underline;
  width: auto;
  margin:auto;
}

h2{
  margin-bottom: 0;

}

a{
  text-decoration: none;
  color: #0F0E0E;
  line-height: 1.5;

}

a:hover{
  text-decoration:none;
    color:#DD4A48;
}

hr{
  border-style: none;
  width: 10%;
  border-top: dotted;
  border-color: #0F0E0E;
  border-left-width: 10px;
}

.header{
  position: fixed;
}

.books{
  text-align: center;
font-family: 'Gentium Book Basic', serif;
}

.record-labels{
  text-align: center;
font-family: 'Gentium Book Basic', serif;
margin-top: 50px;
}

.books-image{
  position: relative;

}

.records-image{
  position: relative;
}

.artists-image{
  position: relative;
}

.artists{
  text-align: center;
font-family: 'Gentium Book Basic', serif;
margin-top: 50px;
}
