body {
  background-color: #EEEBDD;
  color: #CE1212;
  font-size: 150%;
  text-align: center;
  margin: 0;
}

h1 {
  text-align: center;
  font-family: 'Gentium Book Basic', serif;
  color: #CE1212;
  margin: 50px auto 100px;
  vertical-align: middle;
}

h2 {
  margin: 0;
  text-decoration: underline;
  color: #CE1212;
}

a {
  text-decoration: none;
  color: #0F0E0E;
  line-height: 1.5;
}

a:hover {
  text-decoration: none;
  color: #CE1212;
}

hr {
  border-style: none;
  width: 10%;
  border-top: dotted;
  border-color: #0F0E0E;
  border-left-width: 10px;
}

.header {
  text-align: center;
  margin: 0 auto 100;
}

.all-links {
  background-color: #FF6464;
}

.books {
  text-align: center;
  vertical-align: middle;
  font-family: 'Gentium Book Basic', serif;
  width: 25%;
  height: 700px;
  display: inline-block;
}

.records {
  text-align: center;
  font-family: 'Gentium Book Basic', serif;
  vertical-align: middle;
  width: 25%;
  height: 700px;
  display: inline-block;
}

.artists {
  text-align: center;
  font-family: 'Gentium Book Basic', serif;
  vertical-align: middle;
  width: 25%;
  height: 700px;
  display: inline-block;
}

.books-image {
  width: 25%;
  margin-bottom: 0;
}

.records-image {
  width: 25%;
}

.art-image {
  width: 25%;
}
